# Python 가상 환경 폴더
venv/
.env

# Python 기본
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 가상 환경 내부 디렉토리
bin/
include/
lib/

# 프로젝트에서 설치된 패키지 목록
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
poetry.lock

# 환경설정 파일
*.env
.env.*

# IDE 관련 설정 파일
.vscode/
.idea/

# macOS에서 생기는 불필요한 파일
.DS_Store

# 로그 파일
*.log


#뭔지 모름
lib64
